# Archivos locales del entorno de Visual Studio
.vs/
*.suo
*.user
*.dtproj.user

# Carpetas de build temporales
bin/
obj/

# Archivos de configuración sensibles o por usuario
*.params
*.dtproj

# Excepciones para ejemplos compartidos
!*.params.example
!*.dtproj.example